@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.section{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}

.container{
    width: 80%;
    display:block;
    margin: auto;
    padding-top: 100px;
}

.content-section{
    float: left;
    width: 55%;
}

.showcase{
  float:right;
  width:40%
}

.showcase video{
    width:100%;
    height:auto;
}

.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content h3{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;
}

.content-section .content p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}